# Terraform
*.tfstate
*.tfstate.*
*.backup
*.log
crash.log
override.tf
override.tf.json
.terraform/
.terraform.lock.hcl

# Ignore Terraform variables files with secrets
*.tfvars
*.tfvars.json

# Local command-line files
.terraformrc
.terraform.d/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.egg
*.egg-info/
dist/
build/
*.log
*.pytest_cache/
.coverage
.tox/
.cache/
.pytest_cache/
*.mypy_cache/
*.venv/
.Python
env/
venv/

# Ignore virtual environment folders
ENV/
venv/
env.bak/
venv.bak/

# Docker
*.env
.dockerignore
docker-compose.override.yml

# Ignore Docker builds and local containers
**/Dockerfile.*
.docker/

# Miscellaneous
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn
